/************************************/
/*************** BASE ***************/
/************************************/
body {
	font-family: 'Open Sans',  sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	text-transform: uppercase;
}

h1 {
	color: #333;
	font-size: 40px;
	text-align: center;
}

h1.alt {
	color: #fff;
}

.hero h1 {
	margin: auto;
	width: 66%;
}

.hero .btn-action, .hero .btn {
	margin: 0 auto;
}

section, header, footer {
	overflow: hidden;
	padding: 0 10%;
	width: 80%;
}

header {
	padding-top: 30px;
	padding-bottom: 30px;
}

header a {
	color: #999;
	font-size: 20px;
	margin-right: 20px;
	text-decoration: none;
	text-transform: uppercase;
}

header ul, header li, nav {
	display: inline;
}

nav {
	line-height: 63px;
	text-align: center;
}

nav .more::after {
	background: url(../img/down-arrow.png);
	content: " ";
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	width: 10px;

}

/************************************/
/************** LAYOUT **************/
/************************************/
.hero {
	background: 50% 0% url(../img/hero.jpg) no-repeat;
	height: 652px;
	padding-top: 150px;
	text-align: center;
}

.hero h1 {
	margin-bottom: 70px;
}

.hero .btn, .hero .btn-action {
	margin: 0 20px;
}

.trade-intelligently, .trusted {
	background: #3d4e5e;
}

.features {
	background: #f0f0f0;
}

footer {
	background: #34424d;
}

/************************************/
/************ COMPONENTS ************/
/************************************/
.logo {
	display: inline;
	position: relative;
	top: 5px;
}

.btn, .btn-action, .btn-alt, .language {
	border: 2px solid #007aff;
	border-radius: 50px;
	color: #007aff;
	font-size: 20px;
	margin: 5px 10px 0;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-action {
	background: #44b251;
	border-color: #44b251;
	color: #fff;
}

.btn-alt {
	background: #007aff;
	border-color: #007aff;
	color: #fff;
}

.language {
	border-color: #cdd6db;
	color: #cdd6db;
	font-weight: 300;
	padding: 10px 12px;
	text-transform: none;
}

.featured-right {
	float: right;
}

.featured-left {
	float: left;
}